@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
  padding:0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


.nav-container {
  position: fixed;
  width: 100%;
  background-color: rgb(70,62,74);
  top: 0;
  left: 0;
}

.nav-content {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  color: white;
  vertical-align: middle;
  max-height: 80px;
}

.nav-logo > a {
  font-size: 2em;
}

.nav-logo, .nav-item {
  display: inline-block;
}

.nav-logo > a, .nav-item > a {
  line-height: 60px;
  float: left;
  color: white;
  padding: 10px;
}

.nav-item {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

.nav-item > a:hover {
  background-color: white;
  color: rgb(70,62,74);
}

main {
  margin: 100px auto 50px auto;
  max-width: 1080px;
  padding: 0 10px;
}

.page-banner {
  width: 100%;
  background-color: rgb(40,38,41);
  height: 300px;
}

.content {
  border-left: 5px solid rgb(70,62,74);
  padding: 0 10px;
}

.footer {
  width: 100%;
  background-color: rgb(40,38,41);
  height: 70px;
}
